<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <%- include("./fragments/head.ejs") %>
        <link rel="stylesheet" href="/resources/css/form.css" type="text/css">
        <style>
            main {
                margin-left: auto;
                margin-right: auto;
                width: 75%;
                display: grid;
                grid-template-columns: 25% 75%;
            }

            /* TODO: Center vertically */
            img {
                max-height: 50vh;
            }
        </style>
</head>

<body>
    <%- include("./fragments/header.ejs") %>
        <main>
            <form method="post" action="/signup" enctype="multipart/form-data">
                <div class="form_element">
                    <label for="firstname">First Name:</label>
                    <input type="firstname" id="firstname" name="firstname"> <br>
                </div>

                <div class="form_element">
                    <label for="lastname">Last Name:</label>
                    <input type="lastname" id="lastname" name="lastname"><br>
                </div>

                <div class="form_element">
                    <label for="username">User Name:</label>
                    <input type="text" id="username" name="username"><br>
                </div>

                <div class="form_element">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"><br>
                </div>

                <div class="form_element">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"><br>
                </div>

                <% if(locals.error && locals.error==true){%>
                    <p class="error"> An error occured: <%- locals.message %>
                    </p>
                    <%} %>

                        <input type="submit" value="Sign Up" />
            </form>
            <img src="/resources/images/randomimages/" alt="Random Image">

        </main>
</body>

</html>