body{
    --color_default: #f3eff5;
    --color_primary: #454955;
    --color_primary_alternative: #0d0a0B;
    --color_secondary: #72b01d;
    --color_secondary_alternative: #4aad19;
    background-color: var(--color_default);
}